<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FreshChoice.Presentation</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FreshChoice.Presentation.styles.css" asp-append-version="true"/>
</head>
<style>
    .navbar.bg-dark {
    background-color: #000 !important;
}
    .btn-primary {
        background-color: #0E8138 !important;
        border-color: #0E8138 !important;
        box-shadow: none !important; /* kills glow/ridge */
    }

</style>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="container-fluid d-flex align-items-center justify-content-between">

                <!-- LEFT: Logo -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo" style="height:80px; margin-top:-10px;">

                </a>

                <!-- CENTER: Search -->
                <form asp-controller="Products" asp-action="Search"
                      class="d-flex flex-grow-1 mx-4" style="max-width:600px;">
                    <input class="form-control me-2" type="search" name="query" placeholder="Search..."/>
                    <button class="btn btn-outline-success" type="submit" style="accent-color: #0E8138;">Search</button>
                </form>

                <!-- RIGHT: Login/Register -->
                <div>
                    <partial name="_LoginPartial"/>
                </div>

            </div>

        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container" style="text-align: center;">
        &copy; 2025 - FreshChoice.Presentation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>