<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FreshChoice.Presentation</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/FreshChoice.Presentation.styles.css" asp-append-version="true"/>
</head>
    

<body>
<header>

        <div class="top-navbar">
            <tbl class="dropdown">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" hreft="/Home/Index">
                    <img src="~/images/logo.png" alt="Logo" style="height:75px">
                </a>
                <div class="dropdown-content-left">
                    <!--need correct link adreses in place in all the href="#"-->
                    <a href="#"><i class="bi bi-calendar"></i>schedule</a>
                    <a href="#"><i class="bi bi-people  "></i>Employee management</a>
                    <a href="#"><i class="bi bi-box-seam"></i>Inventory</a>
                </div>
            </tbl>

            <tbr class="dropdown">
                    <partial name="_LoginPartial" />
            </tbr>
        </div>
</header>
<div class="container">
    <main role="main" class="pb-3" style="margin-top:75px;">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container" style="text-align: center;">
        &copy; 2025 - FreshChoice.Presentation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
