/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header {
    font: Arimo;
}


.top-navbar {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: visible;
    top:0;
}



tbr {
    float: right;
}
tbr:hover .dropdown-content-right {
    display: block;
}


i {
    padding-right: 5px;
}
it {
    padding-left: 3px;
    font-size: 50px;
    color:white;
    padding-right:5px;

}

.dropbtn {
    position: relative;
    display: inline-block;
}




.dropdown-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 12px 18px;
    background: none;
    border: none;
    text-align: left;
    color: black;
    cursor: pointer;
}


.dropdown-content-right {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:snow;
}

    .dropdown-content-right a {

        font-size: 18px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content-right .Login {
        display: block;
    }
.Text {

    font-size: 18px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}       

        .dropdown-content-right a:hover {
            background-color: #f1f1f1;
        }
        .dropdown-content-right button:hover {
            background-color: #f1f1f1;
        }
    .dropdown-content-right dropdown-button:hover {
        background-color: #f1f1f1;
    }
    .Login:hover {
        background-color: #f1f1f1;
    }



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
