@using FreshChoice.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-info">
        <a asp-controller="Account" asp-action="Manage" class="user-name" title="Manage Account">
            @User.Identity?.Name
            <i class="bi bi-person-circle"></i>
        </a>
        <form asp-controller="Account" asp-action="Logout" method="post" style="margin: 0;">
            <button type="submit" class="logout-btn">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </button>
        </form>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="login-link">
        <i class="bi bi-box-arrow-in-right"></i>
        Login
    </a>
}