/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header[b-klhp4bherr] {
    font: Arimo;
}

.top-navbar[b-klhp4bherr] {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: visible;
    top:0;
}


tbl[b-klhp4bherr] {
    float: left;
    padding-left:10px;
    padding-right:10px;
}

tbl:hover .dropdown-content-left[b-klhp4bherr] {
    display: block;
}

tbr[b-klhp4bherr] {
    float: right;
}
tbr:hover .dropdown-content-right[b-klhp4bherr] {
    display: block;
}


i[b-klhp4bherr] {
    padding-right: 5px;
}
it[b-klhp4bherr] {
    padding-right: 3px;
    font-size: 50px;
    color:white;

}










.dropdown-content-right[b-klhp4bherr] {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: snow;
}

    .dropdown-content-right a[b-klhp4bherr] {

        font-size: 18px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content-right a:hover[b-klhp4bherr] {
            background-color: #f1f1f1;
        }
        .dropdown-content-right button:hover[b-klhp4bherr] {
            background-color: #f1f1f1;
        }
.dropdown-content-left[b-klhp4bherr] {
    display: none;
    position: absolute;
    left: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: snow;
}

    .dropdown-content-left a[b-klhp4bherr] {

        font-size: 18px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content-left a:hover[b-klhp4bherr] {
            background-color: #f1f1f1;
        }


.footer[b-klhp4bherr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* /Views/Shared/_LoginPartial.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header[b-4su5nmly0p] {
    font: Arimo;
}


.top-navbar[b-4su5nmly0p] {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    overflow: visible;
    top:0;
}



tbr[b-4su5nmly0p] {
    float: right;
}
tbr:hover .dropdown-content-right[b-4su5nmly0p] {
    display: block;
}


i[b-4su5nmly0p] {
    padding-right: 5px;
}
it[b-4su5nmly0p] {
    padding-left: 3px;
    font-size: 50px;
    color:white;
    padding-right:5px;

}

.dropbtn[b-4su5nmly0p] {
    position: relative;
    display: inline-block;
}




.dropdown-button[b-4su5nmly0p] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 12px 18px;
    background: none;
    border: none;
    text-align: left;
    color: black;
    cursor: pointer;
}


.dropdown-content-right[b-4su5nmly0p] {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:snow;
}

    .dropdown-content-right a[b-4su5nmly0p] {

        font-size: 18px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content-right .Login[b-4su5nmly0p] {
        display: block;
    }
.Text[b-4su5nmly0p] {

    font-size: 18px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}       

        .dropdown-content-right a:hover[b-4su5nmly0p] {
            background-color: #f1f1f1;
        }
        .dropdown-content-right button:hover[b-4su5nmly0p] {
            background-color: #f1f1f1;
        }
    .dropdown-content-right dropdown-button:hover[b-4su5nmly0p] {
        background-color: #f1f1f1;
    }
    .Login:hover[b-4su5nmly0p] {
        background-color: #f1f1f1;
    }



.footer[b-4su5nmly0p] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
